<!--<div class="container">
  <div class="row">
    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">-->
      <div class="background-image">
        <div class="d-flex flex-column">
          <h1 class="d-flex justify-content-center my-5">
            <strong>相談会場</strong>
          </h1>
          <h2 class="d-flex justify-content-center my-3">
            一人で悩まずにいろいろな人に相談してみよう
          </h2>
          <p class="d-flex justify-content-center my-3">
            このサイトは現実に数多く存在する問題に、ぶつかったときに都合よく、良い解決策が浮かばなく困ってしまったときや、
          </p>
          <p class="d-flex justify-content-center">
            身近な人に相談しにくい悩み事などを相談し、解決したり、自身が過去に抱えていた悩みをほかの人が抱えていた場合その悩み事を解決してあげるようなサイトです。
          </p>
        </div>
      </div>
    <!--</div>
  </div>
</div>-->