<!--<div class="container">-->
<!--  <div class="row">-->
<!--    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">-->
<div class="background_top-image">
  <div class="d-flex flex-column">
    <h1 class="d-flex justify-content-center my-5">
      <strong>相談会場</strong>
      へようこそ
    </h1>
    <p class="d-flex justify-content-center my-3">
      ここは、今日の夕食の献立から、自身の将来的な悩みまでありとあらゆることを相談し、解決する場所です
    </p>
    <h2 class="d-flex justify-content-center my-3">
      さあ！自身の悩みを打ち明けて共に解決していこう!!
    </h2>
    <div class="d-flex justify-content-center mt-5">
      <%= link_to "新規登録", new_user_registration_path, class: "btn btn-lg btn-danger mx-3" %>
      <%= link_to "ログイン", new_user_session_path, class: "btn btn-lg btn-primary mr-5" %>
      <%= link_to "ゲストログイン", "#", class: "btn btn-lg btn-success mx-3" %>
    </div>
  </div>
</div>
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
