<h2>検索結果</h2>

<table class="table table-hover table-inverse">
  <tbody>
      <% @rooms.each do |room| %>
        <tr>
          <td><%= room.title %></td>
        </tr>
      <% end %>
  </tbody>
</table>