
<h1>管理者一覧</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>
          一覧名
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <tr>
      <td><%= link_to "部屋一覧", admin_rooms_path %></td>
      <td><%= link_to "ユーザー一覧", admin_users_path %></td>
    </tr>
    </tbody>
  </table>